body {
  background: black;
}

.wrap {
	width: 405px;
	margin: 20px auto;
  padding: 0;
}

.btn1, .btn2, .btn3, .btn4 {
  width: 195px;
  height: 195px;
  float: left;
  opacity: 0.5;
  margin: 3px;
}

.btn1 {
  border-top-left-radius: 195px;
  background: green;
}

.btn2 {
  border-top-right-radius: 195px;
  background: red;
}

.btn3 {
  border-bottom-left-radius: 195px;
  background: yellow;
}

.btn4 {
  border-bottom-right-radius: 195px;
  background: blue;
}
