body {
  background: black;
}

.wrap {
	width: 405px;
	margin: 20px auto;
  padding: 0;
}

.btn1, .btn2, .btn3, .btn4 {
  width: 195px;
  height: 195px;
  float: left;
  opacity: 0.6;
  margin: 3px;
}

.btn1 {
  border-top-left-radius: 195px;
  background-color: green;
}

.btn2 {
  float: left;
  border-top-right-radius: 195px;
  background-color: red;
  clear: right;
}

.btn3 {
  float: left;
  border-bottom-left-radius: 195px;
  background-color: yellow;
  clear: left;
}

.btn4 {
  float: left;
  border-bottom-right-radius: 195px;
  background-color: blue;
}
